.header
  margin-top: 20px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  &__pasport
    text-decoration: none
    color: $textcolor 
    display: flex
    flex-direction: row
    &__text
      display: flex
      flex-direction: column
      justify-content: center
    &__title
      margin: 0
      margin-bottom: 10px
      font-size: 18px
    &__subtitle
      font-size: 12px
  &__button , &__phone
    text-decoration: none
    color: $textcolor
    text-transform: uppercase
    margin-left: 20px
    transition: 0.5s
  &__phone
    padding: 7px 10px
    border: 2px dashed $textcolor
    border-radius: 5px
  &__contacts
    display: flex
    flex-direction: row
    align-items: center
    &__image
      margin-left: 20px
      & svg
        position: relative
        width: 30px
        height: 30px